 body {
     -x-system-font:none;
     background-color:#FFFFFF;
     font-family:verdana,arial,sans-serif;
     font-size:100%;
     font-size-adjust:none;
     font-stretch:normal;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     line-height:normal;
 }
 